/* credit to Material UI for hex codes - https://material-ui.com/customization/color/ */

// Black/Grey/White
$black-true: #000000;
$black: #212121;
$grey-darker: #424242;
$grey-dark: #757575;
$grey: #9e9e9e;
$grey-light: #bdbdbd;
$grey-lighter: #e0e0e0;
$white: #fafafa;
$white-true: #ffffff;

// Red
$red: #f44336;
$red-dark: #b71c1c;
$red-light: #ff8a80;

// Orange
$orange: #ff9800;
$orange-dark: #ef6c00;
$orange-light: #ffcc80;

// Yellow
$yellow: #ffeb3b;
$yellow-dark: #fbc02d;
$yellow-light: #fff9c4;

// Green
$green: #4caf50;
$green-dark: #1b5e20;
$green-light: #a5d6a7;

// Blue
$blue: #2196f3;
$blue-dark: #0d47a1;
$blue-light: #90caf9;

// Purple
$purple: #673ab7;
$purple-dark: #311b92;
$purple-light: #b39ddb;

// Indigo
$indigo: #3f51b5;
$indigo-dark: #1a237e;
$indigo-light: #9fa8da;
